footer{
    margin-top: auto;
}

.footer-box{
    background-color: var(--footer-color);
    font-size: medium;
    color: var(--text-color);
    border: 0px solid var(--border-color);
    padding: 1em;
}

.footer-box a{
    color: var(--blue);
}

.footer-box img{
    max-height: 1em;
}