html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    flex-direction: column;
    margin: 0;
    font-size: 22px;
    color: #D8FAFE;
    background-color: #3c2f52;
    line-height: 120%;
}  

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }

a{
    text-decoration: none;
}
  
a:link{
    color: #4995f3;
}
  
a:visited{
    color: #d86830;
}
  
a:hover{
    color: #3ec54b;
}

ul {
    list-style-type: none;          
    padding: 0;                     
    margin: 0;                      
  }
  