/* Header styles */
header {
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation */
.nav-style ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* Makes the list horizontal */
}

.nav-style a {
    color: var(--nav-color);
    text-decoration: none;
}
  
.nav-style a:hover {
    color: var(--teal);
}

.nav-style ul li {
    margin: 0 15px;
}

.nav-style-current {
    text-decoration: underline;
}

/* Pushes dropdown to the right */
.header-end {
    margin-left: auto;
}

.button-switch {
    border: 0px;
    background-color: #00000000;
    cursor: pointer;
    user-select: none;
    transform: translateY(0.5em);
}

